### Java ###
*.class
*.log
*.jar

### Build output ###
/out/
/bin/
/build/
!**/src/main/**/out/
!**/src/main/**/bin/
!**/src/test/**/out/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.ipr
*.iml
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
